# Python virtual environments
venv/
env/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Temporary and lock files
.~lock.*
*.tmp

# Operating System files
.DS_Store
Thumbs.db

# Logs
*.log
